<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/img/weather-icon.png" type="image/x-icon">
		<link rel="stylesheet" href="./css/style.css" />
		<title>Weather App | About</title>
	</head>
	<body>
		{{>header}}
		<div class="main-section-body">
			<h2>{{title}}</h2>
			<img src="./img/my_pic.jpg" alt="My Pic" width="300px"  class="portrait"/>
			<section class="section-1">

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nemo eos reiciendis laboriosam fugit incidunt, adipisci dolorem vero facere, delectus sit optio ad consectetur nulla odio sint blanditiis dolore laudantium?</p><br>
			</section>
			
		</div>
		{{>footer}}
	</body>
</html>
