<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/img/weather-icon.png" type="image/x-icon">
		<link rel="stylesheet" href ="/css/style.css" />
		<title>Weather App | Help</title>
	</head>
	<body>
		{{>header}}
		{{!-- <h1>{{help}}</h1><br> --}}
		<div class="main-section-body">
			<h2>{{title}}</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aliquid eligendi veritatis explicabo soluta enim, quasi consectetur molestiae possimus, inventore ex aliquam id animi illo adipisci ab optio rerum voluptatibus nostrum officiis sint. Ipsum explicabo earum libero eius, exercitationem sed ratione? Corporis, eveniet expedita velit harum vel laboriosam architecto rem tempora eaque ad officiis sunt commodi quia optio officia sapiente dicta ullam adipisci a voluptate quidem itaque odit quis blanditiis?</p><br>
        	<p>{{mess}}</p>
		</div>
        
		<br>
		{{>footer}}
	</body>
</html>
