
<header>

<div class="container header-container">
    <h1>Weather App</h1>
    <ul>
        <li><a href="/">Weather</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
</div>
</header>
